html,
body {
    margin: 0;
    padding: 0;
    z-index: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

button {
    border: none;
    caret-color: transparent;
}

div,
ul,
li,
span {
    padding: 0;
    margin: 0;

}